doctype html
html
    head
        title Index
        link(rel='stylesheet', href='/css/main.css')
    body
        h1#loading Loading
        script(src='/public/jspm_packages/system.js')
        script(src='/public/config.js')
        script System.import('/public/main.js')
