doctype html
html
    head
        title Index
    body
        h1 Index
        script(src='/public/jspm_packages/system.js')
        script(src='/public/config.js')
        script System.import('/public/main.js')
