*
    box-sizing border-box
    user-select none
    overflow hidden

// body
//     background black

#loading
    display inline-block
    font-size 72px
    font-family sans-serif
    width 100vw
    text-align center
    display absolute
    margin 0
    margin-top 20vw
    padding 0
    left 0

.gauge
    position absolute
    margin 0
    padding 0
    left 0
    top 0

svg
    display block
    margin auto auto

#svgCanvas
    position absolute
    left 0
    top 0
    width 100vw
